*{
  margin: 0;
  padding: 0;
}
.hero
{
  height: 650px;
  width: 100%;
  background: #edf1fc;
  font-family: sans-serif;
  position: relative;
}
nav
{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo
{
  width: 100px;
  cursor: pointer;
  font-size: 30px;
}
.nav-bar{
  float: right;
  margin-top: -50px;

}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #606163;
}
nav ul li a:hover{
  color: #ffb7c5;
}
nav span{
  color: #ffb7c5;
}




/* info */
.info
{
  margin-left: 8%;
  margin-top: 10%;
}
.info h1
{
  font-size: 70px;
  color: #212121;
  margin-bottom: 20px;
}
span
{
  margin-left: 5px;
  color: #ffb7c5;
}
.info p{
  color: #606163;
}
.info a
{
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}




/* images */
.img-box
{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s,left 1s;
}
.img-box:hover .back-img{
  bottom: 40px;
}
.img-box:hover .main-img{
  left: 54%;
}

@media screen  and (max-width:1000px){
  .hero{
    display: grid;
    grid-template-rows: repeat(4,auto);
    height: 1200px;
  }
  .logo{
    grid-row: 1/2;
  }
  nav ul li{
    grid-row: 2/3;
  }
  .info{
    grid-row:3/4 ;
    margin-top: 10px;
    text-align: center;
    margin: auto;
  }
  .img-box{
    grid-row: 4/5;
    /* margin-left: 50%;
   
    margin-right: 150px; */
    margin: auto;
  }
  .img-box img{
    width: 80%;
    height: 300px;
  }
}





/* quote */
.sentence{
  margin-bottom: 100px;
}

.blockquote{
  max-width: 900px;
  margin: auto;
  padding: 25px;
  background-color: #FFE6E6;
  border:1px solid #ffb7c5;
  color: black;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
  border-left-width: 10px;
  padding-top: 20px;


}
.blockquote__text{
  font-size: 30px;
  font-style: italic;


}
.blockquote__text:not(:last-child){
  margin-bottom: 1em;

}
.blockquote__text--credit{
  font-weight: bold;
  font-style: normal;
  text-align: right;
  font-size: large;
}
.blockquote__text--credit::before{
  content: "\2014\0020";
}
.blockquote::before{
  content:"\201c";
  font-size: 100px;
  color: #ffb7c5;
  display: block;
  margin-bottom: -40px;
  margin-top: -20px;
}







/* about me */
.About{
  background: linear-gradient(#fff,#edf1fc);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 200px;
  align-items: center;
}
.about-img img{
  max-width: 100%;
  width: 350px;
  height: auto;
  margin: auto;
  margin-left: 30%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.about-text{
  margin-left: -110px;
  width: 100%;
  font-size: 20px;
}
.about-text h2{
  font-size: 80px;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.2rem;
}
.about-text h4{
  color: #212121;
  font-size: 1.3rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
/* .about-text p{
  width: 100%;
} */
.about-text span{
  color: #FC6C85;
}
.about-text p{
  font-size: larger;
  font-weight: 400;
  max-width: 570px;
  margin-bottom: 2.5rem;
}
@media screen  and (max-width:1200px){
  .About{
    display: grid;
    grid-template-rows: repeat(2,auto);
    height: auto;
  }
  .about-img{
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 50%;

  }
  .about-text{
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    margin-left: 50%;
    text-align: center;
  }

}




/* qualifications */
.qualifications{
  background-color: black;
  width: 100%;
  height: auto;
  padding-top:10vh ;
  padding-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff;
  align-content: space-between;
  
}

.qualifications img{
  width: 80%;
  border-radius: 15px;
}
.qualifications .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr)) ;

}
.qualifications h1{
  margin-bottom: 10px;
}
.qualifications-col-1{
  grid-column-start: 1;
  grid-column-end: 2;
}
.qualifications-col-2{
  grid-column-start: 2;
  grid-column-end: 3;

}
.sub-title{
  font-size: 60px;
  font-weight: 500;
}

.tab-titles{
  display: flex;
  margin: 25px 0 40px;
}
.btn.btn-primary .tab-links{
  margin-right: 100px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  text-align: left;
}



/* skills */
.tab-contents.active-tab ul li{
  list-style: none;
  margin: 10px 0;
}

.card-header button{
  background-color: #212121;
  border: none;
}
.card-header button:hover{
  border-bottom: 5px solid #ffb7c5;
  background-color: #212121;
}
.


/* footer */
footer{
background-color:#edf1fc ;
width: 100%;
height: auto;
font-family: "open sans";
padding: 40px;

}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}
.socials i{
  flex-direction: row;
  width: 45px;
}
.socials li{
  margin: 0 10px;

}
.socials a{
  text-decoration: none;
  color: #212121;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: #FC6C85;
}
.footer-bottom{
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  margin-left: -40px;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  color: #221d1d;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 200;

}
.footer-content ul{
  list-style: none;
}







/* ---------------projects---------- */
.projects-header{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: auto;
  font-size: 22px;

}
.projects-hero
{
  height: 500px;
  width: 100%;
  font-family: sans-serif;
  position: relative;
}
.projects-hero nav
{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.projects-logo
{
  width: 100px;
  cursor: pointer;

}
.projects-hero nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.projects-hero nav ul li a{
  text-decoration: none;
  color: #fff;
}
.projects-hero nav ul li a:hover{
  color: #ffb7c5 ;
}
.projects-hero nav span{
  color: #ffb7c5;
}
.projects-hero nav h1{
  color: #fff;
}
.projects-tasks h1{
  text-align: center;
  font-size: 80px;
  color: #fff;
  font-family: 'Lobster', cursive;
  padding-top: 120px;
}
@media only screen  and (max-width:800px){
  .tasks h1{
    font-size:30px;
  }
  .header{
    background-size: auto;

  }
  
}





/* projects */
#projects{
  margin-top: 100px;
  margin-bottom: 100px;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr)) ;
  grid-gap: 40px;
  margin-top: 50px;
  width: 100%;

}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.work img{
  border-radius: 10px;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#DE5D83);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 700;
  margin-bottom: 20px;

}
.layer a{
  margin-top: 20px;
  color: #DE5D83;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
}
.work:hover img{
  transform: scale(1.1);
}
 .work:hover .layer{
  height: 100%;

 }


 /* footer */
footer{
background-color:#edf1fc ;
width: 100%;
height: auto;
font-family: "open sans";
padding: 40px;
margin-right: 0;

}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}
.socials i{
  flex-direction: row;
}
.socials li{
  margin: 0 10px;

}
.socials a{
  text-decoration: none;
  color: #212121;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: #FC6C85;
}
.footer-bottom{
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  color: #221d1d;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 200;

}
.footer-content ul{
  list-style: none;
}




/* -------------contact------------ */
.contact-header{
  height: auto;
}
.contact-hero
{
  height: auto;
  width: 100%;
  font-family: sans-serif;
  position: relative;
  background: #edf1fc;
}
.contact-hero nav
{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo
{
  width: 100px;
  cursor: pointer;
  font-size: 30px;

}
.contact-hero ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px
}
.contact-hero ul li a{
  text-decoration: none;
  color: black;
}
.contact-hero ul li a:hover{
  color: #ffb7c5 ;
}
.contact-hero span{
  color: #ffb7c5;
}




/* contact me */
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.contact .content p{
  font-weight: 300;
  color: black;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  /* margin-right: 100px; */
}
.container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background-color: #ffb7c5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactinfo .box .text h3{
  font-weight: 500;
  color: #ffb7c5;
}
.contactform{
  width: 40%;
  padding: 40px;
  background-color: #edf1fc;
  margin-left: -200px;

}
.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactform .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}
.contactform .inputBox input,.contactform .inputBox textarea {
  width: 420px;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}
.contactform .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span


{
  color: #ffb7c5;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
  width: 100px;
  background: #ffb7c5;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width:991px)
{
  .contact{
      padding: 50px;
  }
  .container{
      flex-direction: column;
  }
  .container .contactinfo, .contactform{
      margin-bottom: 40px;
      width: 100%;
  }
  .contactform .inputBox input,.contactform .inputBox textarea{
      width: 100%;

}}



